.venv/*

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs and debugging
*.log
*.pid
*.bak
*.swp

# Unit test / Coverage reports
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# VSCode
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# PyInstaller
*.manifest
*.spec

# celery beat schedule file
celerybeat-schedule

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# Django stuff:
*.log
db.sqlite3
*.pot
*.pyc

# Flask stuff:
instance/
.webassets-cache

# PEP 582 (https://www.python.org/dev/peps/pep-0582/)
__pypackages__/

# Editable installs
*.egg-info/

